@import url(https://fonts.googleapis.com/css?family=Poppins);
*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    margin-left: 175px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px black 100;
}
.container .left-column{
    position: relative;
    background: #17252a;
    padding: 50px;
}
.container .right-column{
    position: relative;
    background: #3aafa9;
    padding: 50px;
}
.profile{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}
.profile .imgbox{
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
.profile .imgbox img{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile h2{
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
    line-height: 1.4em;
    font-weight: 600;
}
.profile h2 span{
    font-size: 0.8em;
    font-weight: 300;
}
.ctact{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}
.ctact h2{
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
    margin-top: 10px;
    border-bottom: 1px solid white;
}
.ctact h3{
    color: #fff;
    font-size: 1em;
    text-transform: none;
    text-align: center;
    font-weight: 500;
    line-height: 1.4em;
    margin-top: 10px;
    
}
.ctact h3 span{
    font-size: 0.8em;
    font-weight: 300;
}
.ed{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}
.ed h2{
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
    margin-top: 10px;
    border-bottom: 1px solid white;
}
.ed h3{
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    line-height: 1.4em;
    margin-top: 10px;
}
.ed h3 span{
    font-size: 0.8em;
    font-weight: 300;
}
.skill{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}
.skill h2{
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
    margin-top: 10px;
    border-bottom: 1px solid white;
}
.skill ul{
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.4em;
    margin-top: 10px;
}
.lan{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}
.lan h2{
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
    margin-top: 10px;
    border-bottom: 1px solid white;
}
.lan h3{
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    line-height: 1.4em;
    margin-top: 10px;
}
.exp{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}
.exp h2{
    color: black;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
    margin-top: 10px;
    border-bottom: 1px solid white;
}
.exp h3{
    color: black;
    font-size: 1em;
    text-transform: uppercase;
    text-align: justify;
    font-weight: 600;
    line-height: 1.4em;
    margin-top: 10px;
}
.exp li{
    color: #fff;

}